@{
    ViewBag.Title = "Store Purchase Requisition";
    if (ViewBag.CallingForm1 == "index")
    {
    }
    else
    {
        <ul class="breadcrumb">
            <li><a href="#">@ViewBag.CallingForm</a></li>
            <li><a href="@ViewBag.CallingViewPage" class="active">@ViewBag.CallingForm1</a></li>
            @if (@ViewBag.CallingForm2 != null)
            {
                <li><a href="#" class="active">@ViewBag.CallingForm2</a></li>
            }
        </ul>
    }
}
<style>
    .font_color {
        font-weight: bold !important;
    }
</style>
<div class="panel panel-transparent" ng-controller="sprController">
    <div class="panel-heading">
        <div class="panel-title">
            Store Purchase Requisition
        </div>

        <div class="pull-right m-t-15">
            <div id="show-modal" class="btn btn-success custom-btn2">
                <i class="fa fa-plus pr1"></i>
                <a href="#!/PurchaseRequisitionCreate" ng-click="removeCookies()">Add New</a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="panel-body">
        <div class="row form-horizontal" ng-init="loadParameters()">
            <div class="col-lg-6">
                <div class="form-group">
                    <div class="form-inner13">
                        <label for="ExpertiseAreaName" class="left-col control-label">Form Date</label>
                        <div class="right-col">
                            <div id="datepicker-component" class="input-group date">
                                <input type="text" class="form-control datepicker1" ng-model="parameters.FormDate" ng-change="loadSpr()">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                        <div class="clr"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-inner13">
                        <label for="ExpertiseAreaName" class="left-col control-label">To Date</label>
                        <div class="right-col">
                            <div id="datepicker-component" class="input-group date">
                                <input type="text" class="form-control datepicker1" ng-model="parameters.ToDate" ng-change="loadSpr()">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                        <div class="clr"></div>
                    </div>
                </div>
                <div class="form-group hidden">
                    <div class="form-inner13">
                        <label class="left-col control-label">Department</label>
                        <div class="right-col">
                            <select2 style="width:100%" placeholder="--Select Department--" ng-model="parameters.DepartmentID" ng-change="loadSpr()"
                                     s2-options="store.DepartmentID as store.Name for store in deptList">

                            </select2>
                        </div>
                    </div>
                </div>
                <div class="form-group hidden">
                    <div class="form-inner13">
                        <label class="left-col control-label">From Store</label>
                        <div class="right-col">
                            <select2 style="width:100%" placeholder="-- Select Store--" ng-model="parameters.BranchID" ng-change="loadSpr()"
                                     s2-options="store.BranchID as store.Name for store in storeList">

                            </select2>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <table st-table="data" st-safe-src="sprList" class="table table-striped">
            <thead>
            <tr>
                <th colspan="8" style="padding-right: 0px;">
                    <input st-search class="input-sm form-control topsearch" type="search" placeholder="Search" style="width: 200px; float: right"/>
                </th>

            </tr>
            <tr>
                <th>Requisition NO.</th>
                <th>Requisition Date</th>
                <th>Required Date</th>
                <th>Requisition Approval</th>
                @*<th>2nd App.Status</th>
                <th>3rd App.Status</th>*@
                <th>Store Name</th>
                <th style="width: 10%; text-align: center;">Action </th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in data">
                    <td>{{row.SPRNO}}</td>
                    <td>{{row.SPRDate}}</td>
                    <td>{{row.RequiredDate}}</td>
                    <td>{{row.FirstApproveStatus == "A" ? "Approved":"Pending"}}</td>
                    @*<td>{{row.SecondApproveStatus == "2A" ? "Approved":"Pending"}}</td>
            <td ng-if="row.ThirdApproveStatus == '3A'">{{row.ThirdApproveStatus == "3A" ? "Approved":"Pending"}}</td>
            <td ng-if="row.ThirdApproveStatus =='F'">{{row.ThirdApproveStatus == "F" ? "Approved":"Pending"}}</td>
            <td ng-if="row.ThirdApproveStatus ==null">Pending</td>*@
                    <td>{{row.BranchName}}</td>
                    <td align="center">
                        <button type="button" ng-click="editRow(row)" ng-disabled="row.endAppBtn" class="btn btn-success btn-xs">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button type="button" ng-click="reportView(row.SPRID)" class="btn btn-success btn-xs">
                            <i class="fa fa-print"></i>
                        </button>
                    </td>
                </tr>

            </tbody>
            <tfoot>
            <tr>
                <td colspan="6" class="Page-align">
                    <div st-pagination="" st-items-by-page="itemsByPage"></div>
                </td>
            </tr>
            </tfoot>
        </table>


    </div>
</div>
<script>

    $(".datepicker1").datepicker({
        changeMonth: true,
        autoclose: true,
        changeYear: true
    });
</script>
